# Virtual Environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Backup files
*.bak

# Other common Python ignores
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
*.env